/* Imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Root defaults*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  border-bottom: 2px solid rgb(87, 87, 87, 0.7);
}

/* Parent of logo and text*/
.nav-left {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 11vh;
  min-width: 20vw;
  margin-left: 2.6vw;
}

/* Parent of logo img*/
.logo {
  display: flex;
  align-items: center;
}

/* School of code img*/
.logo img{
  min-width: 4.6vw;
  height: 10vh;
}

/* The free coding bootcamp text*/
.logo-text {
  margin-left: 0.4vw;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

/* Parent of nav links and nav-button*/
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  min-width: 50vw;
}

/* Parent of nav links*/
ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style-type: none;
  font-family: 'Roboto Slab', serif;
}

/* controls nav-list and nav-button*/
ul li, .nav-button {
  /* display: flex; */
  text-align: center;
  align-items: center;
  height: 40px;
  font-size: 15.7px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  text-align: center;
  border: 5px solid transparent;
}

/* controls nav-list items*/
li {
  margin-top: 1vh;
  margin-right: 0.3vw;
}

/* Controls anitmated underline of nav-list items*/
li:after {
  display: block;
  content: '';
  height: 6px;
  border-bottom: solid 5px #31986a;  
  transform: scaleX(0);  
  transition: transform 330ms ease-in-out;
}
li:hover:after { transform: scaleX(1); }
li:after{ transform-origin: 50% 100%; }
li:after{  transform-origin:  50% 0%; }

/* Controls nav-button*/
.nav-button {
  width: 9.6vw;
  height: 5.8vh;
  margin-right: 5vw;
  margin-left: 0.2vw;
  background-color: rgb(68, 179, 127);
  border: none;
  color: rgb(255, 250, 250);
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  letter-spacing: 1px;
}

/* Controls nav-button on hover*/
.nav-button:hover {
  background-color: rgb(62, 155, 111);
}

/* MAIN TITLE*/


/* Controls h1*/
h1 {
  margin-top: 6.8vh;
  margin-left: 18vw;
  font-size: 32px;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  color: rgb(34, 34, 34);
  -webkit-animation: 1.7s ease 0s normal forwards 1 fadein;
  animation: 1.7s ease 0s normal forwards 1 fadein;
}

/* Controls animation for h1*/
@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

/* Controls h1 underlined */
.title-underline {
  height: 0.6vh;
  width: 36vw;
  margin: 0.5vh;
  margin-bottom: 6vh;
  margin-left: 0;
  background: linear-gradient(90deg, rgb(122, 218, 174) 0%, rgba(68,167,123,1) 41%, rgba(60,176,124,1) 78%, rgba(49,152,106,1) 100%);
  -webkit-animation:expand 1.6s;
   animation:expand 1.6s;
}

/* Controls h1 underlined animation*/
@-webkit-keyframes expand
 {
   from {
      width:0vw;
   } 
   to {
      width:36vw;
   }
}

@keyframes expand
 {
   from {
      width:0vw;
   }
   to {
      width:36vw;
   }
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 60vh;
  margin-right: 4vw;
  background-color: #f7f3f3;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 12px;
  box-shadow: inset 5px 5px 11px -4px #000000;
  -webkit-animation: 2.8s ease 0s normal forwards 1 fadein;
  animation: 2.8s ease 0s normal forwards 1 fadein;
  
}

.categories-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 54vh;
 
  background-color: #ffffff;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 12px;
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4vh;
  /* width: 22vw; */
  
  height: 60vh;
  -webkit-animation: 2.4s ease 0s normal forwards 1 fadein;
  animation: 2.4s ease 0s normal forwards 1 fadein;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 12vw;
  height: 4vh;
  margin-bottom: 2.4vh;
  background-color: #adadad;
  background-image:
  linear-gradient(
    to right, 
    #b1b0b0, #c9c7c7
  );
  color: #ffffff;
  border: 1px solid rgb(119, 119, 119);
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
}

.dropdown-button {
  margin: auto auto;
  text-align: center;

}

.dropdown .dropdown-content {
  position: absolute;
  margin-top: 4vh;
  width: 12vw;
  height: 4vh;
 
  }

.dropdown-item {
  
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 12vw;
  height: 3.5vh;
  margin-top: 0.1vh;
  padding-top: 0.8vh;
  background-color: #adadad;
  border: 1px solid rgb(99, 99, 99);
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
}

.dropdown-item:nth-child(4n + 2) {
  background-color: #cecece;
  background-image:
  linear-gradient(
    to right, 
    #b8b8b8, #dfdede
  );
}
.dropdown-item:nth-child(4n + 1) {
  background-color: #beb8b8;
  background-image:
  linear-gradient(
    to right, 
    #9c9a9a, #d3d3d3
  );
}
.dropdown-item:nth-child(4n + 3) {
  background-color: #a8a1a1;
  background-image:
  linear-gradient(
    to right, 
    #968f8f, #c4bebe
  );
}
.dropdown-item:nth-child(4n + 4) {
  background-color: #c2c2c2;
  background-image:
  linear-gradient(
    to right, 
    #b4b4b4, #ddd9d9
  );
}


.categories-map {
  display: flex;
  flex-direction: column;
  margin: 0.2vh auto;
  /* width: 30vw;
  height: 60vh; */
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56vw;
  height: 60vh;
  background-color: #f7f3f3;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 12px;
  -webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
  animation: 0.5s ease 0s normal forwards 1 fadein;
  box-shadow: inset 5px 5px 11px -4px #000000;
  visibility: hidden;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54vw;
  height: 54vh;
  margin: 0 1vw 0 2vw;
  background-color: #ffffff;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 12px;
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  -webkit-animation: 0.4s ease 0s normal forwards 1 fadein;
  animation: 0.4s ease 0s normal forwards 1 fadein;
  overflow: hidden;
  overflow-y: auto;
  
}

.resources-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 54vh;
  margin: 0 2vw 0 1vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(119, 119, 119);
  border-radius: 12px;
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  -webkit-animation: 0.4s ease 0s normal forwards 1 fadein;
  animation: 0.4s ease 0s normal forwards 1 fadein;
}

.todo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weekend-todo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1.5vh;
}

.weekend-item-conponent {
  display: flex;
  justify-content: center;
  margin: 1.4vh;
 
}






.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  margin-top: 1.6vh;
  margin-bottom: 0.8vh;
}

h2 {
  
  font-family: 'Roboto Slab', serif;
}

.default-invis {
  display: flex;
  width: 30vw;
  height: 50vh;
  visibility: hidden;
 
}

.default-invis-accordion {
  display: flex;
  height: 0vh;
  visibility: hidden;
 
}

.comlete-list-item {
  display: flex;
  justify-content: center;
  margin: auto auto;
  margin-top: 2.8vh;
  width: 90%;
 
  
}

.completed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 7.2vh;
  background-color: #eeebeb;
  border-radius: 50% 0 0 50%;
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
}

.add-to-weekend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 7.2vh;
  background-color: #eeebeb;
  border-radius: 0 50% 50% 0;
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
}

.completed:hover, .add-to-weekend:hover {
  background-color: #ddd8d8;
}

.todo-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 70%;
  min-width: 70%;
  height: 7.2vh;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  background-color: #31986a;
  /* background-image:
    linear-gradient(
      to right, 
      #31986a, #5ed6a0
    );
   */
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  
}

.completed-todo-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 70%;
  min-width: 70%;
  height: 7.2vh;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  background-color: #31986a;
  background-image:
    linear-gradient(
      to right, 
      #979797, #d4d4d4
    );
  
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  
}

/* .todo-list-item:hover {
  
  background-color: #31986a;
  background-image:
    linear-gradient(
      to right, 
      #29815a, #54c290
    );
   
} */

.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 63%;
  min-width: 63%;
  min-height: 12vh;
  height: 8vh;
  background-color: #4b4a4a;
  border-radius: 0 0 12px 12px;
  border: 2px solid black;
  background-color: #f7f3f3;
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  margin-top: 0;
}

input {
  display: flex;
  flex-wrap: wrap;
  min-height: 7.6vh;
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  word-wrap: normal;
  border: none;
  background-color: #f7f3f3;
  text-align: left;
  padding-left: 1vw;
}

input:focus {
  outline: none;
}

.accordion-button {
  width: 3.6vw;
  height: 2.2vh;
  margin: auto 1vw auto 0;
  border: 1px solid rgb(119, 119, 119);
  box-shadow: 2px 2px 1.6px 0px rgba(75, 74, 74, 0.75);
  background-color: #31986a;
  color: white;
  font-size: 11px;
  border: 1px solid black;
  

}

.weekend-todo-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 76%;
  min-width: 76%;
  height: 7.2vh;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
  background-color: #31986a;
  background-image:
    linear-gradient(
      to right, 
      #31986a, #5ed6a0
    );
  
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
}

.todo-list-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
 height: 5.6vh;
 width: 100%;
}

.list-item-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1vw;
  padding-bottom: 0.6vh;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.3px;
}

.icon-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1vw;
  margin-top: 0vh;
  margin-bottom: 0.6vh;
  width: 5.8vw;
  height: 2.4vh;
  border: 2px solid rgb(58, 57, 57);
  background-color: #4b4a4a;
}

.chevron-icon {
  display: flex;
  align-items: flex-start;
  height: 2vh;
  padding-top: 0.2vh;
}



.chevron-icon svg {
  display: flex;
  align-items: flex-start;
  height: 3.6vh;
  padding-bottom: 1.6vh;
}

.chevron-icon svg:hover {
  transform: scale(1.2);
}

.plus-icon, .tick-icon {
  display: flex;
  align-items: center;
  height: 3vh;
  width: 2vw;
}

svg:hover {
  transform: scale(1.1);
}




list-icon {
  height: 1.4vh;
  width: 1vw;
}

svg {
  height: 2.5vh;
  width: 2.5vw;
  size: "3x";
  color: #000000;
  font-weight: bolder;
}


.resource-list-item {
  display: flex;
  align-items: flex-end;
  width: 10vw;
  min-height: 5vh;
  padding-bottom: 0.8vh;
  background-color: #ffffff;
  border-bottom: 1px solid #b1afaf;
  
}

.resource-list-text {
  width: 14vw;
  color: #000000;
}

h2 {
  font-size: 16px;
}

/* input {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 3vh;
} */

.category-button-container {
  display: flex;
  margin-top: 3vh;
  margin: 0.5vh;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 5vh;

}

.category-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 9vw;
  height: 4vh;
  margin-top: 2.3vh;
  padding-left: 4.6vw;
  background-color: #31986a;
  background-image:
    linear-gradient(
      to right, 
      #31986a, #5ed6a0
    );
  color: #f7f3f3;
  border: 1px solid rgb(119, 119, 119);
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.3px;
}

.category-button:hover {
  /* transform: scale(1.01); */
  transition: 0.3s;
  background-color: #31986a;
  background-image:
    linear-gradient(
      to right, 
      #29815a, #54c290
    );
    box-shadow: 3px 3px 1.2px 0px rgba(29, 29, 29, 0.75);
}

.day-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 2.8vw;
  height: 4vh;
  margin-top: 2.3vh;
  background-color: #f7f3f3;
  border: 1px solid rgb(32, 32, 32);
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  /* border-radius: 0 50% 50% 0; */
}

.category-button-star {
  height: 2.5vh;
  width: 2.5vh;
  color: darkgoldenrod;
  margin-left: 0.1vw;
 
}

.category-button-star svg {
  height: 1.9vh;
  width: 1.9vh;
  color: rgb(238, 189, 65);
  padding-left: 0.05vw;
  padding-top: 0.6vh;
}

.category-button-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5vh;
  width: 2.5vh;
  color: #000000;
  padding-right: 0.4vw;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05vw;
}


.weekend-button {
  /* visibility: hidden; */
  background-color: #272727;
  color: #ffffff;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 1.1vw;
  height: 2.2vh;
  margin-left: 0;
  padding-left: 0;
}
.on {
  color: rgb(228, 191, 25);
}
.off {
  color: rgb(134, 134, 134);
}

.weekend-button {
  width: 12vw;
  height: 4vh;
  margin-top: 5vh;
  background-color: #3ba4d4;
  background-image:
  linear-gradient(
    to right, 
    #3790b9, #7ad1fa
  );
  border: 1px solid rgb(119, 119, 119);
  box-shadow: 4px 4px 1.6px 0px rgba(29, 29, 29, 0.75);
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.3px;
}

.weekend-button:hover {
  background-color: #3790b9;
  background-image:
    linear-gradient(
      to right, 
      #3790b9, #6bb3d4
    );
  transition: 0.3s;
  box-shadow: 3px 3px 1.2px 0px rgba(29, 29, 29, 0.75);
}

.weekend-cross-icon svg{
  display: flex;
  align-items: center;
  height: 3vh;
  width: 3vw;
}


.image-visibility {
  width: 0vw;
  height: 0vh;
}